<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='1.css') }}">

    </head>
    <body>


        <div class="row">
            <div class="col-md-12">
                <div class="tab-pane fade show active text-align form-new" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">SaytoUTU!!</h3>
                    <h4 class="register-heading">Express Your Feelings here.</h4>
                    <br>
                    <div class="row register-form">
                        <div class="col-md-12">
                            <form method="post" autocomplete="off" name="confession">
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Name of a  Person for whom you are here" name="Name" id='name' required/>
                                    <label for="name" class="form__label">Name of a  Person for whom you are here</label>
                                </div>
                                <br>
                                <div class="form-group">


                                    <div class="select">
                                        <select name="dept" id="slct" required=".">
                                            <option value="" disabled="" selected="">Department of a Person</option>
                                            <option value="Not want to mention">Not want to mention</option>
                                            <option value="Computer">Computer</option>
                                            <option value="AI&DC">AI&DC</option>
                                            <option value="Civil">Civil</option>
                                            <option value="MCA">MCA</option>
                                            <option value="Chemical">Chemical</option>
                                            <option value="ICT">ICT</option>
                                            <option value="Cyber Security">Cyber Security</option>
                                            <option value="Electrical">Electrical</option>
                                            <option value="IT">IT</option>
                                            <option value="Mechatronics">Mechatronics</option>
                                            <option value="Fashion Design">Fashion Design</option>
                                            <option value="Pharm.D">Pharm.D</option>
                                            <option value="B.P.T">B.P.T</option>
                                            <option value="B.I.D">B.I.D</option>
                                            <option value="B.Arch">B.Arch</option>
                                            <option value="Nursing">
                                                Nursing</option>
                                            <option value="Post Basic (Nursing)">Post Basic (Nursing)</option>
                                            <option value="Chemistry">Chemistry</option>
                                            <option value="Biotechnology">Biotechnology</option>
                                            <option value="Diploma Civil/EE">Diploma Civil/EE</option>
                                            <option value="Diploma ME">Diploma ME</option>
                                            <option value="Diploma CE/IT">Diploma CE/IT</option>
                                            <option value="Diploma Chemical">Diploma Chemical</option>
                                            <option value="Optometry">Optometry</option>
                                            <option value="Microbiology">Microbiology</option>
                                            <option value="Cyber Security">Cyber Security</option>
                                            <option value="Mechatronics">Mechatronics</option>
                                            <option value="Mechanical">Mechanical</option>
                                            <option value="Automobiles">Automobiles</option>
                                            <option value="I.C.">I.C.</option>
                                            <option value="M.Tech.">M.Tech.</option>
                                            <option value="MBA">MBA</option>
                                            <option value="BBA">BBA</option>
                                            <option value="BCA">BCA</option>
                                            <option value="B.Com">B.Com</option>
                                            <option value="B.A(English)">B.A(English)</option>
                                            <option value="B.A(J.M.C)">B.A(J.M.C)</option>
                                            <option value="Dental">Dental</option>
                                            <option value="Others">Others(mention in your confession)</option>
                                        </select>
                                    </div>
                                    <br>
                                    <div class="select">
                                        <select name="year" id="slct" required=".">
                                            <option value="" disabled="" selected="">In Which Year Person is
                                            </option>
                                            <option value="0">Not want to mention</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="Graduated">Graduated</option>
                                        </div>


                                        <div class="form-group">
                                            <select id="kill" class="browser-default" name="year" id="area" required=""></select>


                                        </div>
                                        <div class="form-group">
                                            <br>


                                            <textarea id="kill" class="form-control" name="confession" rows="4" cols="50" placeholder="Write your confession in less than 500words." value="" required=""></textarea>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" name="submit" class="btnSubmit btn-block" value="Submit"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                const scriptURL = 'https://script.google.com/macros/s/AKfycbwnddur-8U65u0KIONf1HhGO4BThpym0OIwEbAmCGSSRf16mXU/exec'
                const form = document.forms['confession']

                form.addEventListener('submit', e => {
                    e.preventDefault()
                    fetch(scriptURL, {
                        method: 'POST',
                        body: new FormData(form)
                    }).then(response => alert("Thanks! Your Confession has been recorded!")).catch(error => console.error('Error!', error.message))
                    setTimeout("location.href = 'thankyou.html';", 5000);
                })
            </script>

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        </body>
        <!-- MADE WITH ❤️ AND ☕ BY-
                			*Vivek Patel*
                				LikedIn:- (https://www.linkedin.com/in/vivek-patel-0553731a5/)
                				Github:- (https://github.com/vivolscute)
                				
                			*Niken Goswami* (DDIT Nadiad) 
                				LikedIn:- (https://www.linkedin.com/in/niken-goswami-6bb231193)
                				Github:- (https://github.com/nikengoswami)
                				  
                			*Hunaid Nakhuda*
                				LikedIn:- (https://www.linkedin.com/in/hunaid-nakhuda-66543b1aa)
                				Github:-  (https://github.com/hunaid-nakhuda)
                			Technologies Used- PYTHON3, Pandas , HTML5, CSS3, JAVASCRIPT, PYTHON3, GOOGLE SHEETS , Github
                  -->
    </body>
</html>

