<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='thankyou.css') }}">
<div class="content">
    <div class="wrapper-1">
        <div class="wrapper-2">
            <h1>Thank you !</h1>
            <p>Greetings!!!</p>
            <br>
            <p>
                Thank you for your Confession.</p>
            <p>
                We will update soon :)
            </p>
            <br><p>in mean time you can
            </p>
            <p>follow us on instagram</p>
            <p>
                <a href="https://www.instagram.com/utu.confession/" color="#f2f2f2">
                    <b>
                        @utu.confession</b>
                </a>
            </p>
            <button class="go-home" onclick="window.location.href = './index.html';">
                go home
            </button>
        </div>

    </div>
</div>
<!-- MADE WITH ❤️ AND ☕ BY-
			*Vivek Patel*
				LikedIn:- (https://www.linkedin.com/in/vivek-patel-0553731a5/)
				Github:- (https://github.com/vivolscute)
				
			*Niken Goswami* (DDIT Nadiad) 
				LikedIn:- (https://www.linkedin.com/in/niken-goswami-6bb231193)
				Github:- (https://github.com/nikengoswami)
				
			*Hunaid Nakhuda*
				LikedIn:- (https://www.linkedin.com/in/hunaid-nakhuda-66543b1aa)
				Github:-  (https://github.com/hunaid-nakhuda)
			Technologies Used- PYTHON3, Pandas , HTML5, CSS3, JAVASCRIPT, PYTHON3, GOOGLE SHEETS , Github
  -->


<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">

