<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
</html></head><!-- MADE WITH ❤️ AND ☕ BY-
            			*Vivek Patel*
            				LikedIn:- (https://www.linkedin.com/in/vivek-patel-0553731a5/)
            				Github:- (https://github.com/vivolscute)
            				
            			*Niken Goswami* (DDIT Nadiad) 
            				LikedIn:- (https://www.linkedin.com/in/niken-goswami-6bb231193)
            				Github:- (https://github.com/nikengoswami)
            				
            			*Hunaid Nakhuda*
            				LikedIn:- (https://www.linkedin.com/in/hunaid-nakhuda-66543b1aa)
            				Github:-  (https://github.com/hunaid-nakhuda)
            			Technologies Used- PYTHON3, Pandas , HTML5, CSS3, JAVASCRIPT, PYTHON3, GOOGLE SHEETS , Github
              --><style>
body {
    font-family: 'Calibri', sans-serif;
    background-color: #2b6777;
}</style><nav>
<div class="nav-wrapper black">

    <a href="index.html" class="brand-logo center">SaytoUTU</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">

        <li>
            <a href="rules.html">Rules</a>
        </li>

        <li>
            <a href="saytoutu.html">Confess</a>
        </li>

        <li>
            <a href="view.html">View Confession</a>
        </li>

    </ul>
</div></nav><ul class="sidenav" id="mobile-demo">
<li>
    <a href="rules.html">Rules</a>
</li>
<li>
    <a href="confess.html">Confess</a>
</li>
<li>
    <a href="view.html">View Confession</a>
</li></ul><!-- 
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                 -->
                 
                 
<!---PYTHON WILL ADD CODE HERE DO NOT WRITE ANYTHING HERE---><div class="row">














        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: vivekkk </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession: dtfyguhjikol</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: hello deployment pre test </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 0</span>
		                            <p>Confession:dchjbhjscbjsc</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: i am bot admin </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:scszcscscscsc</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: sdcxsdcscscscs </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:zxz z  </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: final -1 </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:x x x x x x x</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: dcd dc </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:dcdcsd </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: fuck you  </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 0</span>
		                            <p>Confession:dcsdcsdcsdc</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: dsfcdscsdc </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:sdcsdcsc</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: i love you </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:jkdnvjknfv</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: dcdcdc </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:dcdcdcd</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: dfd </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 0</span>
		                            <p>Confession:jkdjkdc</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: xcscs </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:sscsc</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: dcdcdc </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:dcdcdcdcdc</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: dcedcdc </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 0</span>
		                            <p>Confession:dcdcdcdcdcdc</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Dhruvi </span>
		                    <span>Department: B.P.T</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:Dhruvi tum itni pyari kyu ho ? </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Parth malvi </span>
		                    <span>Department: Diploma CE/IT</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:Har ladki pe isko crush he. Ma**arc**d manas he. </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Name starting with “M” </span>
		                    <span>Department: Biotechnology</span><br>
		                        <span>Year: 9</span>
		                            <p>Confession:Dear boys 
Aa department ma ek girl chhe je tmne friend banavshe tamari sathe sari rite vaat krshe and last ma thoda divso pachi tamara msg na screenshot lay ne khoti rite fasava ni try krshe and blackmail krshe etle dhyan rakhjo
Mne ek vaar anubhav thay gayo chhe ane aana thi maru family pn disturb ane heran thayu chhe 

So boys be careful </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Name starting with “M” </span>
		                    <span>Department: Biotechnology</span><br>
		                        <span>Year: 9</span>
		                            <p>Confession:Block kr ke kya mila??
Friend friend bol ke life me sabhi experience krva diya aapne
Lekin me bhi revange leke hi rahuga bs jo time ka me wait kr raha hu wo aane do 
Proof ke sath me 
Mera name bigad ne ki koshish ki hai aapne bohot badi glti kr di aapne 
Revange time ke sath leke hi rahuga</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Sudhir Panchani </span>
		                    <span>Department: Electrical</span><br>
		                        <span>Year: 9</span>
		                            <p>Confession: college me tha toh koi bhi girls ke sath ghumne ki baat  to chhodo dekhta bhi nahi tha 
Aur UK 🇬🇧 jake foreigners girl ke sath ghumne laga

Bigad gya hai tu 
😂😂😂😂😂😂</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Some guy </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Dusro ki car ko kab tak khudki hai khudki hai kroge bhaijan (I'm not sure for bhaijan)</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: v </span>
		                    <span>Department: B.I.D</span><br>
		                        <span>Year: 0</span>
		                            <p>Confession:mbv ifk</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Sakshi </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 3</span>
		                            <p>Confession: we love you so much and you're the bestest person ever.</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Kristal navadia </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:I love you darling ♥️♥️♥️</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Batki </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:ONLINE EXAM MA PURA MARKS AAVE TOY PAN CGPA 7 AAVE HOW😱😱😱?
KYA HE ES LADKI KA CHAKKAR?
🤔🧐
</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: One Feku </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:🚙🏍️🚗car,bullet,ghar badhu bija nu j che pan batava mate story muke che je koi impress thatu hoy e thatu nai kai malse nai☹️😶😶🙁🙁</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Saumydeep Bhosh </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:Firstly stop thinking yourself a influencer!! 
Have you ever seen your face in mirror!? 
If yes then you should leave this all things 
Ok bye....</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: zxc </span>
		                    <span>Department: Pharm.D</span><br>
		                        <span>Year: 3</span>
		                            <p>Confession:sadasaf</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: My fire Brigade </span>
		                    <span>Department: Others</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Aaj Exam Khatam Hua.... Thanks Bhai ham jeso ko pass karane ke lia... Dil se accha lagta hai bhai... </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: All story worriers </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:It's story war. If anyone is men like original men then come out from face to face don't behave he is one type of girl🥵</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Mihir borad </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Mane mari post delete karvano bov shokh che 😳😳😁😁( bhale ne mara ma kai levanu na hoy) </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Whole IT class😘😘😘😘 </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:Miss You all.......MC BC KBC Koi var to call karo puchva k hu jivto chu ke mari gyo😞😞😞😞😞😞😞😞😞😞😞</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Ayush parmar  </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:karta sabkuchh he par dikha ta kuchh nahi 😒(badha kand karva ma aagal)</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Some one </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession: ek chhokri 🤮🤮🤮🤮 che ane vem ma che e k e kaik che🤮🤮🤮 Bhuli javu🤮🤮🤮</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Bappu his self </span>
		                    <span>Department: Automobiles</span><br>
		                        <span>Year: 4</span>
		                            <p>Confession:Kuchh confess karna ho to directly muje msg karo, Third party ka commission bachao 🤘</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: MIHIR GOHEL </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Beta aap thoda sambhal ke kam krna.</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: mihir gohel </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:h*r*l ne no adata koi baki ... 
...baki mihir kai kando y nai ukhadi le 😂🤣</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Raj  </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Bhai 20 rs aap ne petrol nthi mari gadi ma 🥺🤪😂😂</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Raj rabadiya </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Bhai 20 rs aap ne mari gadi ma petrol nthi 🥺🥺🤪😂🔥🔥</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Raj rabadiya </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Bhai 20 rs aap ne mari gadi ma petrol nthi 🥺🤪😂 </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Mihir gohil  </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Ye mat karo yarr
Bahot hi manhus lag rahai ho
Toba toba sara mood kharab kar diya
🤮🤢🤮🤢🤮🤢🤮🤢
( keva video banave. bhai ocho ane bai vadhu lage) </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Niraj vekriya  </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Badhi girls ne massage kari ne key me koi sathe vat j nai karto 🥺🥺(chu**** samaj rakha hai kya ) </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Prit gohel </span>
		                    <span>Department: Cyber Security</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Hanma thi DJ nai vagtu lectures ma🤪🤪</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Smeet khokhar🐒🐒 </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Ye banda IT valo se panga lene vala hai😂😂😂
Date:25 April 2021,Sunday
Stadium:Hirabaug circle </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Smeet khokahr </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Ye banda IT valo se panga lene vala hai hai🤦🏼‍♀️😂😂😂
 Date:25 April 2021, Sunday 
Stadium:Hirabaug circle
 </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: mihir gohel </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession: Hu sachu farm a bija ni fortune lai ne gyo to aa koe mantu j nae 😕 
(ae chikne paisa dena)</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Parth malvi diwaliba </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Yeh bande ko har bandi pasand he patalab koi bhi pat jaye chalega ess ne mana kia to uspe try karo esa kam he iska 🤦‍♂️🤦‍♂️</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: 2-4 students ko baad karke baki sub AI&DC ke students  </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Salo intna kaya maza aata hai teachers ke pass 🤦🏼‍♀️🙄😑 baki aap log 18+ hai khud samjye me kaya kehna chalta hun</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: 2-4 students ko baad kar ke baki sab log </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Sabhi log teachers ke sath rahte hai baki aap 18+ hai chronology samjye🤦🏼‍♀️🤦🏼‍♀️🤣🤣😂😂</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: 2-4 students ko baad karke baki sub log </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Sabhi log teachers ke sath rahte hai baki aap 18+ hai chronology samjye🤦🏼‍♀️🤦🏼‍♀️🤣🤣🤣😂😂😂</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: 2-4 students ko baad karke baki sub log </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Sabhi log teachers ke sath rahte hai baki aap sab 18+ hai chronology samjye🤣🤣</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Zeel </span>
		                    <span>Department: Others</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:Attitude and ego level is very high 😏😐😑</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Nisarg Rana </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Online classs me gana bajata hai🔥🔥🤣🤣</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Pooja </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:Love You Babu ❤❤</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Sahil  </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Sbse bda wala Topper he lekin sbko toppy phenata he ki mujhe kuch b nhi aata...</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Dharmil Jariwala </span>
		                    <span>Department: Cyber Security</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Ye banda dusro kem kam me aapni nak ghusedta hai🙄😑</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Sanjana rajput </span>
		                    <span>Department: BBA</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Oo apna attitude apne pass rakh na ok 
Hame bhi attitude dikhana ata he hum kya m******od he kya</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: komal  </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 4</span>
		                            <p>Confession:i need your yes😎</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Mansi Patel  </span>
		                    <span>Department: Chemistry</span><br>
		                        <span>Year: 3</span>
		                            <p>Confession:Mansi I am your friend.. who wants to tell u that  by someone love you in our class</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Mezu❤️ </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:I love your smile Mezbin ❤️</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Everyone </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Mai Ma*******d hu jo iss college me aaya hun....🤕😭😭😭😭😭</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Akshatt shah </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 9</span>
		                            <p>Confession:We Miss Your Voice! ❤❤❤❤❤</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Krina computer diwaliba </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:I love you ❤</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Hunaid Nakhuda  </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:I dont sleep coz when I do all I dream are dreams of you!</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Everyone </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 0</span>
		                            <p>Confession:In the end it doesn't even matter</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Admin </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 9</span>
		                            <p>Confession:Waah bete moj kardi #Test</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Kajal Singh </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Hostel me Raat ko Dusre baccho ko nahi darate.... </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: All </span>
		                    <span>Department: Others</span><br>
		                        <span>Year: 0</span>
		                            <p>Confession:Notice Ab Firse Char dinka lockdown ho gaya...</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Pori </span>
		                    <span>Department: Civil</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:I love you </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: jatin Sachdeva </span>
		                    <span>Department: IT</span><br>
		                        <span>Year: 9</span>
		                            <p>Confession:gaandu hu mai</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Anyone who creates this situation  </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 0</span>
		                            <p>Confession:Whoever reads this, first of all have a good day and stay motivated.
Secondly whoever you text a dm or a message make it real don't talk to someone for few days and leave like you never talked, it hurts, trust me it surely does, sounds more like a philosophy, but it's true.</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: vivek </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:I think kavita likes you </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Kavita  </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:I think vivek patel likes you </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: admin </span>
		                    <span>Department: AI&DC</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:its not ai&dc its ai&ds</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Vivek </span>
		                    <span>Department: MCA</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Fuck you</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Kate Marsh </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 9</span>
		                            <p>Confession:I really Like Like Your Personality, Let's meet at canteen at 10:00 am. I'm Waiting ⏳</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: CE and IT  </span>
		                    <span>Department: Others</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Ye First year CE and IT wale kitne Chalu hain Aate hi Chalu kardiya. </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Hello </span>
		                    <span>Department: Civil</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:VVvgvgvgv</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Don't want to reveal </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:You used me to the fullest didn't expect that from you now you are using that techie let's see how far your love goes </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: all the 2015-2019 batch  </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 9</span>
		                            <p>Confession:I miss all the great time 
I miss PUSHPAM THE MOST 🥺❤️
 From- Kathit Naik </p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: naam nahi batana </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 9</span>
		                            <p>Confession:I love you pagal😘😘❤️❤️ but as a Friend😘😘😘</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Rutvik Parmar </span>
		                    <span>Department: Others</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:Bhai harroz akele akele cricket khelate ho kabhi to hume bhi bulao yaar kab tak akele akele kheloge🥺🥺🥺🥺</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: To:- Rutvik Parmar </span>
		                    <span>Department: Pharm.D</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:Bhai kab tak akele akele cricket khelegaa hume to bula kabhi bhai 🥺🥺🥺
</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Shivani </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 0</span>
		                            <p>Confession:I am really shy to say you directly, but I LOVE YOU Shivani..</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: ALL </span>
		                    <span>Department: Not want to mention</span><br>
		                        <span>Year: 0</span>
		                            <p>Confession:अगर दिल न मिले तो प्यार अधूरा होता है,
चाँदनी के बिना चाँद कब पूरा होता है,

दोस्तों की भूल कर ज़िन्दगी कटती नहीं,
क्यूँकी हर एक फ्रेंड जरूरी होता है।</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: All </span>
		                    <span>Department: Others</span><br>
		                        <span>Year: 0</span>
		                            <p>Confession:Corona ma Social destansin nu palan karo m*m</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Jignesh </span>
		                    <span>Department: Others</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Bhai jignesh, mere 750 rps wapis de de, kb tk rakhega apne paas? 🙂</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Hai </span>
		                    <span>Department: Computer</span><br>
		                        <span>Year: 2</span>
		                            <p>Confession:Jjdj</p>
		            </div>
		        </div>
		    </div>
		
		        
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
		
		                <span class="card-title">To: Parth Desai </span>
		                    <span>Department: Other</span><br>
		                        <span>Year: 1</span>
		                            <p>Confession:Parth tera name mene DesiParth rakha he Desai se achha desi he </p>
		            </div>
		        </div>
		    </div>
		
		